/*
  Elements for dashboard
*/
/* Nav bar */
.dashboard__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.dashboard__nav__item {
  color: #77a1ed;
  font-weight: bold;
}

/* Settings button goes to the right and in gray */
.dashboard__nav__item:last-child {
  color: #778088;
}

.dashboard__stats {
  display: flex;
  flex-direction: row;
}

.dashboard__stats__wrapper {
  flex: auto;
  text-align: center;
  color: white;
  height: 120px;
}

.dashboard__stats__wrapper__indicator {
  font-size: 32px;
  height: 80px;
  color: #77a1ed;
}

.dashboard__stats__wrapper__legend {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 12px;
}

/*
  Bars:
*/
.dashboard__stats__wrapper__bars {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80px;
}

.dashboard__stats__wrapper__bars__bars_wrapper {
  position: relative;
  width: 14px;
  height: 80px;
}

.dashboard__stats__wrapper__bars__bars_wrapper--bar_fg {
  position: absolute;
  bottom: 0;
  border: 1px solid #77a1ed;
  background-color: rgba(119, 161, 237, .4);
  width: 14px;
  border-radius: 6px 6px 0 0;
}

.dashboard__stats__wrapper__bars__bars_wrapper--bar_bg {
  height: 100%;
  width: 16px;
  background-color: #5a606a;
  border-radius: 6px 6px 0 0;
}

/*
  Dial:
*/
.dashboard__stats__wrapper__dial {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80px;
  max-width: 215px;
  min-width: 215px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Place indicator on middle of dial */
.dashboard__stats__wrapper__indicator--middle {
  position: absolute;
  top: 45px;
}

.dashboard__stats__wrapper__dial__gauge_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard__stats__wrapper__dial__gauge_wrapper::after {
  content: '';
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  background-image: url('../img/dial_matte.png');
}

.dashboard__stats__wrapper__dial__gauge_wrapper--dial_fg {
  position: absolute;
  height: 200%;
  width: 100%;
  border: 1px solid #77a1ed;
  background-color: rgba(119, 161, 237, .4);
  transform-origin: center top;
}

.dashboard__stats__wrapper__dial__gauge_wrapper--dial_bg {
  height: 100%;
  width: 100%;
  background-color: #5a606a;
}
