/*
  Elements for dashboard
*/
/* Nav bar */
#dashboard nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#dashboard nav>div {
  color: #77a1ed;
  font-weight: bold;
}

/* Settings button goes to the right and in gray */
#dashboard nav>div:last-child {
  color: #778088;
}

#dashboard #stats {
  display: flex;
  flex-direction: row;
}

#stats>div {
  flex: auto;
  text-align: center;
  color: white;
  height: 120px;
}

#stats .indicator {
  font-size: 40px;
  height: 80px;
  color: #77a1ed;
}

#stats .legend {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 12px;
}

/*
  Bars:
  .bars > .bar_wrapper > .bar_fg/.bar_bg
*/
#stats .bars {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 80px;
}

.bar_wrapper {
  position: relative;
  width: 14px;
  height: 80px;
}

.bar_fg {
  position: absolute;
  bottom: 0;
  border: 1px solid #77a1ed;
  background-color: rgba(119, 161, 237, .4);
  width: 14px;
  border-radius: 6px 6px 0 0;
}

.bar_bg {
  height: 100%;
  width: 16px;
  background-color: #5a606a;
  border-radius: 6px 6px 0 0;
}
