/*
  Main blocks
*/
body {
  font-family: sans-serif;
}

.container {
  margin: 4px;
  border-radius: 4px;
}

#dashboard {
  background-color: #4b535e;
  padding: 20px 30px;
}

#alerts {
  color: #feffed;
  margin-top: 30px;
  background-color: #6db990;
  padding-bottom: 20px;
}

.dropdown {
  border: 1px solid #89c7a6;
  border-radius: 2px;
}

.button {
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, .5);
}

/* Active to mouse but not really a button */
.active {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active:hover {
  color: #4b535e;
}

.highlight {
  background-color: #89c7a6;
}

#see_more {
  border-radius: 0 0 8px 8px;
  width: 150px;
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
}

#view_all {
  font-weight: bold;
  width: 80px;
  margin-left: 20px;
}

#sorting {
  width: 200px;
  margin-left: auto;
  text-align: right;
  padding-right: 20px;
}

/* Test elements */
#test_wrapper {
  height: 100px;
  width: 500px;
  background-color: rgba(255, 255, 255, .1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.test_item {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, .1);
}

#item_list {
  background-color: gray;
}
